$clr-grey-dark: #565959;
$clr-grey-light: #d6d3d6;

$clr-orange-dark: #c97e4b;
$clr-orange-light: #e4bfa5;

$clr-yellow-dark: #fcc963;
$clr-yellow-light: #feefd0;

$clr-green-dark: #80a561;
$clr-green-light: #bfd2b0;

$clr-blue-dark: #6d87a8;
$clr-blue-light: #c5cfdc;